@import "reset.css.scss";
@import "variables.css.scss";
@import "fontface.css.scss";
@import "typography.css.scss";
@import "grid.css.scss";
/* ========================================================= Main ===*/
html {
    font-size: var(--fontSize);
    line-height: var(--lineHeight);
    letter-spacing: -.01em;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
html, body{
    background-color: #f7f7f7;
    color: #373737;
    font-weight: 400;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* ========================================================= Header ===*/
header{

}
/* ------
-- Nav --
------ */
nav{
  ul{
    li{
      a{
        &:hover{

        }
      }
    }
  }
}
/* ========================================================= Main ===*/
/* ========================================================= Footer ===*/
footer{

}
/* ========================================================= Respond ===*/
@media all and (min-width: 41em){
  body{font-size: 1.125em;}
  .container{
    padding-left: 1em;
    padding-right: 1em;
  }
  .row{
    margin-left: -1em;
    margin-right: -1em;
  }
  .col-100 { width: 100%; }
  .col-80 { width: 80%; }
  .col-75 { width: 75%; }
  .col-66 { width: 66.7%; }
  .col-60 { width: 60%; }
  .col-50 { width: 50%; }
  .col-40 { width: 40%; }
  .col-33 { width: 33.3%; }
  .col-25 { width: 25%; }
  .col-20 { width: 20%; }
  .col-10 { width: 10%; }
}
@media all and (min-width: 960px){

}
