/* ========================================================= Typography ===*/
// Type Scale: 5 7 9 12 16 21 28 37 50 83 111
h1, h2, h3, h4 {
  color: #25272B;
  margin: 22px 0 8px;
  font-family: 'ProximaNovaLight', sans-serif;
  font-weight: normal;
  line-height: 1.2;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 37px;
}
h3{
  display: block;
  font-size: 28px;
}
h4{
  font-size: 21px;
}
p{
  color: #656565;
  font-size: 16px;
  line-height: 1.5;
}
strong{
  color: #000;
}
small, .font_small{
  font-size: 12px;
}
ul, ol{
  margin: 0 0 18px;
}
li{
  color: #656565;
  font-family: 'ProximaNova', sans-serif;
  line-height: 1.5;
}
dl{
  color: #656565;
  font-family: 'ProximaNova', sans-serif;
  line-height: 1.5;
  margin: 0 0 10px;
}
dt{
  font-weight: bold;
}
dd{
  color: #A9A9A9;
  margin: 0 0 10px 10px;
}
